<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Yiff Download</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    />

    <body style="background-color:darkred;" />
    <nav>
      <a
        href="https://www.dropbox.com/s/mlt95ej4os3kwes/Yiffalicious%20%20v13.locker.zip?dl=1"
        ><button class="btn btn-primary" style="border-radius: 4px;">
          Download V12
        </button></a
      >
      <br />
      <br />
      <a href="https://nordlocker.com"
        ><button class="btn btn-primary" style="border-radius: 4px;">
          NordLocker (required)
        </button></a
      >
    </nav>
    <div class="wrapper">
      <center>
        <video
          src="https://cdn.glitch.com/c9fc6e8e-24ef-4799-85a1-2c8d56819825%2FReggie.mp4?v=1595999563489"
          autoplay
          controls
        ></video>
      </center>
    </div>
    <br />
    <br />
    <br />
    <center><h1>DM me if you want have access @ ArtieFuzz#9767</h1></center>
  </head>
  <body>
    <div class="container"></div>
  </body>
</html>
